---
## Crear Grupo para restringir el acceso SSH
- name: Crear grupo ssh_access
  ansible.builtin.group:
    name: ssh_access
    state: present


# ------------------------------------------------------------
# OCI → usuarios críticos (adminso, psoft, opc)
# ------------------------------------------------------------

- name: Verificar si existen usuarios OCI críticos
  ansible.builtin.command: "id {{ item }}"
  register: oci_users_id
  failed_when: false
  changed_when: false
  loop:
    - adminso
    - psoft
    - opc

- name: Agregar usuarios OCI a ssh_access SOLO si existen
  ansible.builtin.user:
    name: "{{ item.item }}"
    groups: ssh_access
    append: true
  loop: "{{ oci_users_id.results }}"

