---

# ==========================
# Incluir tareas CIS
# ==========================

- name: Incluir tareas específicas de CIS según la distribución
  ansible.builtin.include_tasks: "CIS-{{ ansible_distribution }}-{{ ansible_distribution_major_version | replace('Evaluation', '') }}.yml"
  when: type_server != "Servidor Onpremise - Produccion"
  tags:
    - rhel8cis_general
    - rhel8cis_section1
    - rhel8cis_section2
    - rhel8cis_section3
    - rhel8cis_section5


- name: Mostrar mensaje para ambiente Producción
  ansible.builtin.debug:
    msg: "La línea base CIS para Producción está en desarrollo. No se aplicarán hardenings."
  when: type_server == "Servidor Onpremise - Produccion"
